#A{
position: absolute;
left: 425px;
top: 510px;
}

#B{
position: absolute;
left: 930px;
top: 170px;
}

#RAMKAA{
position: absolute;
left: 265px;
top: 345px;
}

#Z{
position: absolute;
left: 35px;
bottom: 70px;
}
