#A{
position: absolute;
left: 270px;
top: 510px;
}

#B{
position: absolute;
left: 775px;
top: 170px;
}

#RAMKAA{
position: absolute;
left: 265px;
top: 345px;
}

#Z{
position: absolute;
left: -10px;
bottom: 60px;
}
