#A{
position: absolute;
left: 690px;
top: 70px;
}

#B{
position: absolute;
left: 775px;
top: 170px;
}

#RAMKAA{
position: absolute;
left: 265px;
top: 345px;
}

#FORM_GRAFIKA{
position: absolute;
left: 700px;
bottom: 60px;
}
